
@{
    ViewBag.Title = "Index";
}

<!-- Cover -->
<div class="d-flex align-items-center py-5 section-aquamarine section-dark cover" style="background-image: url('../../Static/conference/cover.jpg');">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-white mt-5 text-center">
                <h1 class="d-md-none">Funny Translator</h1>
                <h3 class="display-1 d-none d-md-block">Funny Translator</h3>

                <p class="">by Piotr Markiewicz</p>

                <a class="nav-link" href="#translator">
                    <i class="d-block fa fa-angle-down pt-5 fa-3x">
                    </i>
                </a>

            </div>
        </div>
    </div>
</div>
<!-- Parallax section -->
<div id="translator" class="py-5 section-parallax" style="background-image: url('../../Static/conference/venue.jpg');">
    <div class="container my-5 bg-light p-4">
        <form>
            <div class="form-group row">
                <div class="col-md-9">
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">Text to translate</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1"></textarea>
                    </div>
                </div>

                <div class="col-md-3 d-flex flex-column justify-content-center">
                    <select class="form-control form-control-sm">
                        <option>leetspeak</option>
                    </select>
                </div>

            </div>
            <div class="form-group row">
                <div class="col-12 text-center">
                    <button type="button" class="btn btn-primary">Translate!</button>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- Speakers -->
<div class="py-5 bg-light" id="speakers">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h1>Speakers</h1>
            </div>
        </div>
    </div>
</div>

